# Maven object files
**/target/*

# IntelliJ IDEA artifacts, see https://intellij-support.jetbrains.com/hc/en-us/articles/206544839-How-to-manage-projects-under-Version-Control-Systems
**/.idea/*
**/*.iws
*.iml

# Eclipse IDE artifacts
**/*.project
**/*.prefs
**/*.classpath
**/*.gitignore

# macOS Finder artifacts
**/.DS_Store

# vi editor artifacts
**/*.swp
/.metadata/
